
@{
    ViewData["Title"] = "Finsih";
}

<div class="pay1"><h1>Successfully Registered</h1></div>

<section>
    <div class="Finish">
        <p>
            We have sent an email to you with reference number.Please use the reference number at the time of
            arrival for getting the entry pass
        </p>
        <div class=""><center><a asp-action=""><button class="btn btn-light custom">Finish</button></a></center></div>


    </div>
    <div class="maindiv">
        <center><a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a></center>
    </div>
</section>