@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/PageStyle.css" rel="stylesheet" />

    <div class="text-center">
        <h1 class="display-4 div1" style="color:brown">ZAYA NURAI</h1>
    </div>


    <div id="m1" class="text-center">
        <h1>Entry Pass AED 480 per head</h1>

       <a asp-action="Search"><button class="btn btn-secondary">Book Now</button></a>

        <h4><a href="">Learn More</a>|<a href="">Features & benefits</a></h4>
        <a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a>
    </div>
