
@{
    ViewData["Title"] = "Payment";
}
<link href="~/css/PageStyle.css" rel="stylesheet" />

<div class="pay"><h1>Payment</h1></div>
<section>
     
    <div class="paygrid">
        <div class="c1"><p>Total Payable for 2 Persons AED 960</p></div>
        <div class="c2"><a asp-action="Secpay"><button class="btn btn-light custom1">Pay Now</button></a></div>
        <div class="c3"><a asp-action=""><button class="btn btn-light custom ">Add AED 100</button></a></div>
        <div class="c4"><a asp-action=""><button class="btn btn-light custom1">Add AED 200</button></a></div>
        <div class="c5"><a asp-action=""><button class="btn btn-light custom">Add AED 300</button></a></div>
        <div class="c6"><a asp-action=""><button class="btn btn-light custom">Add AED 500</button></a></div>
        <div class="c7"><a asp-action=""><button class="btn btn-light custom1 ">Add AED 1000</button></a></div>
        <div class="c8"><a asp-action=""><button class="btn btn-light custom">Add AED 2000</button></a></div>
    </div>
    <div class="maindiv">
        <center><a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a></center>
    </div>
</section>
