
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/PageStyle.css" rel="stylesheet" />
<section class="Register">
    <h1>Register</h1>
    <label>Mobile</label>
    <input type="text" size="4" placeholder="Country" />
    <input type="text" size="30" placeholder="Mobile" /><br />
    <label>Email</label>
    <input type="text" size="38" placeholder="email" /><br />


    <a asp-action="Verification"><button class="btn btn-light">Proceed</button></a>
    <div>
        <a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a>
    </div>
</section>