
@{
    ViewData["Title"] = "Search";
}
<link href="~/css/PageStyle.css" rel="stylesheet" />
<div class="maindiv">
    <center><h1 style="color:cadetblue">Availability Search</h1></center>
    <section class="Regtab">
        <div class="grid">

            <div class="a1"><h6>Choose a Date</h6></div>
            <div class="a2"><input type="date" id="date"></div>
            <div class="a3"> <h6>Admission for</h6></div>
            <div class="a4"> <input type="text" placeholder="Adults" /></div>
            <div class="a5"><h6>Above 12Yrs</h6></div>
            <div class="a6"> <input type="text" placeholder="Children" /></div>
            <div class="a7"><h6>0-12Yrs</h6></div>


        </div><br />
        <div> <a asp-action="Register"><button class="btn btn-secondary">Check Availability</button></a></div>
    </section>

    <div>
        <center><a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a></center>
    </div>

</div>