
@{
    ViewData["Title"] = "Secpay";
}

<div class="pay"><h1>Pay AED 960</h1></div>
<section>
    <div class="secpay">
     <div class="d1"><label>Credit Card No</label></div>
     <div class="d2"> <input class="custom2" type="text" placeholder="Card Number" /></div> 
    <div class="d3"><label>Name on Card</label></div>
    <div class="d4"><input type="text" class="custom2" placeholder="Name" /></div>
    <div class="d5"><label>Expiry</label></div>
    <div class="d6"><input type="text" class="custom3" placeholder="Month" /></div>
    <div class="d7"><input type="text" class="custom3" placeholder="Year" /></div>
    <div class="d8"><label>CVV</label></div>
    <div class="d9"> <input type="text" placeholder="CVV" /></div>
    <div class="d10"><a asp-action="Finish"><button class="btn btn-light custom">Pay</button></a></div>
    </div>
    <div class="maindiv">
        <center><a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a></center>
    </div>
</section>

