
@{
    ViewData["Title"] = "Verification";
}
<link href="~/css/PageStyle.css" rel="stylesheet" />
<section class="verify">
    <h1 style="color:cadetblue">Verification</h1>
    <label>OTP</label>
    <input type="text" placeholder="OTP" />
    <p>we have sent an OTP to email an Mobile.Please enter the OTP</p>
    <a asp-action="SecondReg"><button class="btn btn-light">Verify</button></a>
    <div>
        <a href="">Contact Us</a>|<a href="">Terms & Conditions</a>|<a href="">Disclaimer</a>
    </div>
</section>
